html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h2, h4 {
    margin: 0;
}

h2 {
    padding: .75rem 0;
}

h4 {
    padding: 0.5rem 0;
}

.button {
    height: 44px;
    line-height: 30px;
    color: #333;
    background: #fff;
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button:focus {
    border-color: #66afe9;
    outline: 0;
}

html, body {
    height: 100%;
    min-height: 100%;
}

#main {
    box-sizing: border-box;
    padding: 1rem;
    height: 100%;
    position: relative;
}

#device-info {
    margin-bottom: 1rem;
}

#device-info .content {
    margin: 0;
    padding: 1rem;
    border: 1px solid #ccc;
}

.message-box-container {
    margin: 0;
    position: relative;
}

.message-box-container {
    position: absolute;
    top: 177px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.25rem 1rem 1rem;
}

.message-box-container .col {
    position: relative;
}

.message-box-container .message-box {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 0.5rem;
}

.message-box-wrapper {
    position: relative;
    height: 50%;
    padding-top: 6px;
    box-sizing: border-box;
}